   html, body {
      margin: 0;
      padding:0;
     
      /*overflow-y: hidden;*/
/*      scroll-behavior: hide;
*/   }
 

   p {
    font-family: Helvetica, Arial;
    color: #000;
    text-align: center;

   }

   a {
    text-decoration: none;
   }

   a:hover{
    text-decoration: line-through;
   }

   img{
    height: 80vh;
   }

   img:hover {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }

    #contain {
/*      overflow-y: hidden;
*/    white-space: nowrap;
      margin-left: 10vh;
      margin-right: 10vh;     

      display: inline-flex;
      margin-top: 10vh;
    }

  
    div {
    flex;
      justify-content: center;
     
    }

  .navi{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }


    button {
      width: 50px;
      height: 30px;
      border-radius: 12px;
      text-align: center;
      font-size: 10px;
      cursor: pointer;
    }

   canvas {
      position: fixed;
      top: 0; 
      z-index: -1;
     }



    
  
  


